<!DOCTYPE html>
<html>
  <head>
    <title>LibrosBD</title>
  </head>

<div id="prin" class="flex justify-around items-center">
      <a href="/" class="text-4xl"> Inicio</a>
      <a href="/datos">Datos personas</a>
      <a href="/add">Añadir personas</a>
</div>

<style>
  #prin{
    background: blue;
    height: 10vh;
  }
  a{
    font-size: 30px;
    font: bold;
  }
</style>
