<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('partials/navegacion.ejs') %> 

    <form action="/add" method="post">

       <input type="text" name="DNI" placeholder="DNI">
       <input type="text" name="NOMBRE" placeholder="Nombre">
       <input type="text" name="APELLIDO" placeholder="Apellido">
       <input type="number" name="EDAD" placeholder="Edad">
       <button type="submit">Enviar datos</button>

    </form>
</body>
</html>